@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:rgb(241,245,241);
   
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-device-pixel-ratio: 2) {
       overflow-x:hidden;
     
      }
}

#root{

  
}